.dashboard{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cards{
    width: 95%;
    height: auto;
    overflow-y: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, minmax(18rem, .7fr));
    justify-items: space-evenly;
    justify-content: center;
    padding-top: 2rem;
    padding: 5px;
}
.card {
    padding-bottom: 1rem;
    transition: .35s ease-in-out ;
    align-self: normal;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 20px;

}


@media (max-width:1338px) {
    .cards{
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
    }
}
@media (max-width:1060px) {
    .cards{
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
}
@media (max-width: 400px){
    .cards{
    grid-template-columns: repeat(1, minmax(15rem, 1fr));

    }
}